#! /usr/bin/env bash

# Definitions for building project and for building llvm+clang
# I used this as a direnv, so assume this always must be sourced when building/running

#------------------------------------------
# NEEDED FOR BUILDING PROJECT
#------------------------------------------

# Possibly optional
export LLVM_DIR="${LLVM_HOME}/lib/cmake/llvm"

export CC=clang
export CXX=clang++

# (Definitely optional) For clangd:
export CMAKE_EXPORT_COMPILE_COMMANDS=1

#------------------------------------------
# NEEDED FOR BUILDING LLVM+CLANG
#------------------------------------------

# LLVM repo root
export LLVM_SRC="PATH/TO/llvm-project"
echo "LLVM_SRC: ${LLVM_SRC}"

# Installation directory (i.e. CMAKE_INSTALL_PREFIX)
# default is /usr/local
export LLVM_HOME="${HOME}/.local"
echo "LLVM_HOME: ${LLVM_HOME}"

export LLVM_BUILDDIR="${LLVM_SRC}/../build-llvm19"
echo "LLVM_BUILDDIR: ${LLVM_BUILDDIR}"

export CLANG_BUILDDIR="${LLVM_SRC}/../build-clang19"
echo "CLANG_BUILDDIR: ${CLANG_BUILDDIR}"

# https://llvm.org/docs/CMake.html#cmake-build-type
export LLVM_BUILD_TYPE="Release"
echo "LLVM_BUILD_TYPE: ${LLVM_BUILD_TYPE}"
